/* universal styles for padding, margin & border-box
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add background color to body */
body {
    background-color: #d9dcd6;
}

/* set header styles */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* set header div h1 display style and font size */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* change color for "seo" in Horiseon in header */
.header h1 .seo {
    color: #d9dcd6;
}

/* add style to nav bar container */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove markers from nav bar ul items */
.header div ul {
    list-style-type: none;
}

/* set display placement of nav bar ul items */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Set color and remove hyperlink style from nav bar anchors */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set font size for text within p tags */
p {
    font-size: 16px;
}

/* set sizing and position for hero background image */
.hero img {
    height: 900px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* set left position of seo and social media marketing images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* set right position of online rep management image */
.float-right {
    float: right;
    margin-left: 25px;
}

/* set style for div containing seo, social media marketing, and online rep management divs */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* set style for content within seo, social media marketing, and online rep management divs */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* set height for seo, social media marketing, and online rep management images */
.content img {
    max-height: 210px;
}

/* set style for seo, social media marketing, and online rep management h2's */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* set style for benefits container */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* set color and bottom margin for benefits divs */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}

/* set text position, bottom margin and font size for benefits h3's */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
}

/* set font size for benefits p text */
.benefits p {
    font-size: 20px;
}

/* set size and position for benefits images */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 200px;
    max-height: auto;
}

/* set styles for footer container */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

/* set font size for footer h2 */
.footer h2 {
    font-size: 20px;
}

/* set font size and line height for content p text */
.content p {
    font-size: 18px;
    line-height: 1.25;
}